
@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Regular'), url('../public/fonts/Segoe UI.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Segoe UI Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Bold'), url('../public/fonts/Segoe UI Bold.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Inter Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('../public/fonts/Inter-Medium.ttf') format('tff');
    }
    
  
    @font-face {
    font-family: 'Inter Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('../public/fonts/Inter-Bold.ttf') format('tff');
    }



  
body {
  margin: 0;
  padding: 0;
}



 html {
  font-family: Inter Regular, Segoe UI Regular, Arial, Helvetica, sans-serif;
  text-align: justify;
  font-display: swap;
}
@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 20px;
  }
}

.text-justify {
  text-align: justify;
}

.left {
   float: left;
   padding: 0 20px 20px 0;
}

.right {
   float: right;
   padding: 0 20px 20px 0;
} 


/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
  text-align: center;
  font-family: Inter Regular, Segoe UI Regular;
  padding: 2rem 1rem;
  color: rgba(255,255,255,.5);
  background-color: #202020;
}

.sidebar h1 {
  text-align: center;
}
@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: max(18rem, 16vw);
    text-align: left;
  }

  .sidebar h1 {
    text-align: left;
  }
}

/* Sidebar links */
.sidebar a {
  color: #fff;
}

/* About section */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: "Inter Bold", "Segoe UI Bold", sans-serif;
  font-size: 2.5rem;
}

/* Sidebar nav */
.sidebar-nav {
  margin-bottom: 1rem;
}
.sidebar-nav-item {
  display: block;
  line-height: 1.5;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: underline;
}
.sidebar-nav-item.active {
  font-weight: bold;
}

/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

@media (min-width: 48em) {
  .sidebar-sticky {
    position: absolute;
    right:  1rem;
    bottom: 1rem;
    left:   1rem;
  }
}


/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

.content {
  padding-top:    4rem;
  padding-bottom: 4rem;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 48em) {
  .content {
    max-width: 38rem;
    margin-left: max(20rem, 35vw);
    margin-right: 2rem;
  }
}
@media (min-width: 100em) {
  .content {
    max-width: max(38rem, min(40vw, 50rem));
    margin-left: max(35vw, 20rem);
    margin-right: 2rem;
  }
}

/* @media (min-width: 64em) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}
@media (min-width: 70em) {
  .content {
    max-width: 40rem;
    margin-left: 25rem;
    margin-right: 4rem;
  }
}
@media (min-width: 100em) {
  .content {
    max-width: 45rem;
    margin-left: 35rem;
    margin-right: 4rem;
  }
}
@media (min-width: 120em) {
  .content {
    max-width: 45rem;
    margin-left: 35rem;
    margin-right: 4rem;
  }
}
@media (min-width: 150em) {
  .content {
    max-width: 50rem;
    margin-left: 40rem;
    margin-right: 4rem;
  }
}
 */





/* Themes */

/* Purple */
.theme-base-purpz .sidebar {
  background-color: #2f0857;
}
/* pww 2014-12-17 - moved from poole.css to each theme */
.theme-base-purpz .content a,
.theme-base-purpz h1, h2, h3, h4, h5, h6,
.theme-base-purpz .related-posts li a:hover {
  color: #5c14a4;
}


/*
 * Reverse layout
 *
 * Flip the orientation of the page by placing the `.sidebar` on the right.
 */

/* @media (min-width: 48em) {
  .layout-reverse .sidebar {
    left: auto;
    right: 0;
  }
  .layout-reverse .content {
    margin-left: 2rem;
    margin-right: 20rem;
  }
}
@media (min-width: 64em) {
  .layout-reverse .content {
    margin-left: 4rem;
    margin-right: 22rem;
  }
} */



/*   -----    */


/* No `:visited` state is required by default (browsers will use `a`) */
a {
  color: #6E85F7;
  text-decoration: none;
}
a strong {
  color: inherit;
}
/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  text-decoration: underline;
}

figcaption {
    color: #808080;
    font-family: Arial;
    margin-top: -0.3rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: Inter Bold, Segoe UI Bold, Helvetica, sans-serif;
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  color: #313131;
  text-align: left;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2rem;
  margin-bottom: 0.75rem;
}
h2 {
  margin-top: 2rem;
  font-size: 1.8rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.3rem;
  font-weight: normal;
}
h4, h5, h6 {
  margin-top: 1.1rem;
  font-size: 1rem;
}

/* Body text */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: #303030;
  font-family: Inter Bold, Segoe UI Bold;
}


/* Lists */
ul, ol, dl {
  margin-top: 0rem;
  margin-bottom: 1rem;
}

ul li ul  { 
    margin-bottom: 0;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

/* Misc */
hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

/* Code */
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: .8rem;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

.post-title a {
  font-family: Inter Bold, Segoe UI Bold, Arial, Helvetica, sans-serif;
  color: #6E85F7;
  font-size: 1.5em;
  font-weight: 400;
  
}

.post-title {
  display: block;
  margin-bottom: 20px;
}

.article-title {
  color: #6E85F7;
}